#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign_Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The gretest notebook application. Period"
		%p.name - Josiah Peter

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Viral blablablablablallalblalalalala
			.callout
				%h2 Bag
				%p Viral blablablablablallalblalalalala
			.callout
				%h2 Rocket
				%p Viral blablablablablallalblalalalala

#bottom_Cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up... If you don't, Your deadz!
		%button= link_to "Click me!!!!", new_user_registration_path

#footer
	%p &copy; Josiah Peter